{% extends "base.html" %}

{% block content %}
    <h1>Reservation History</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    {% if user %}
        <div style="background-color: #89cff0; font-size: 24px; text-align: center; font-weight: bold;">
            Welcome back, Mr. {{ user.full_name }}
        </div>
        {% if reservations %}
             <table style="width: 100%; border-collapse: collapse;">
                <tr>
                    <th>Package</th>
                    <th>Arrival Date</th>
                    <th>Number of Persons</th>
                    <th>Boarding</th>
                    <th>Sight Seeing</th>
                    <th>Discount Coupon Used</th>
                </tr>
                {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.package }}</td>
                    <td>{{ reservation.arrival_date }}</td>
                    <td>{{ reservation.numb_of_persons }}</td>
                    <td>{{ reservation.boarding }}</td>
                    <td>{{ reservation.sight_seeing }}</td>
                    <td>{{ reservation.discount_coupon_used }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No reservation history found for {{ user.full_name }}.</p>
        {% endif %}
    {% endif %}
{% endblock %}
